*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
#index_box{
    position: relative;
    width: 1000px;
    height: 650px;
}
#index_left{
    float: left;
    width: 240px;
    height: 100%;
    background: steelblue;
}
/* 로고시작 */
.logo_box{
    width: 200px;
    height: 40px;
    padding: 20px;
}
/* 메뉴네비게이션시작 */
.menu{
    width: 200px;
    margin: 20px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    box-sizing: border-box;
}
.sub_menu{
    display: none;
    padding: 5px 0;
    background: white;
}
.sub_menu>li>a{
    display: block;
    padding: 5px 0;
}
.menu>ul>li:hover>a{
    background: darkslategrey;
    color: white;
}
.sub_menu>li>a:hover{
    background: darkslategrey;
    color: white;
}