@font-face {font-family: "Helvetica Neue"; src: url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.eot"); src: url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.woff") format("woff"), url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.svg#Helvetica Neue") format("svg"); }
/* premier font */
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }
body{
    font-family: 'GmarketSansLight'; 
}
.section01{
    background-color: black;
    height: 100vh;
    width: 100%;
}

.section01-bg-img{
    background: url(../images/K7/ms_k7_pl_df2_img_1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.section01-bg-opacity{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(51,51,51,0.8211659663865546) 9%, rgba(51,51,51,0.31976540616246496) 17%, rgba(51,51,51,0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 8%;
}
.section01-title{
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 12%;
}
.section01-title p{
    font-family: "Helvetica Neue";
    font-style: italic;
    margin-top: 1%;
}
.section01-title img{
    width: 8%;
    height: 8%;
    display: block;
}
.section01-title-text{
    color: white;
    font-size: normal;
}
/* section01 */
.section02{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    background: #333;
}
.section02_title{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section02_title img{
    width: 9%;
}
.section02_title p{
    color: white;
    font-weight: 900;
    font-size: 4.5rem;
    margin-top: 2%;
    font-family: "Helvetica Neue";
    font-style: italic;
}
.car_img_wrap{
    height: 60%;
    display: flex;
    align-items: center;
}
.tap_car_img{
    width: 100%;
    height: 70vh;
}

.ABP,.ABT,.B4U,.SS4{
    display: none;
}
.tab_car_color_text{
    width: 100%;
    height: 5%;
}
.car-color-text-wrap{
    display: flex;
    justify-content: space-evenly;
}
.car-color-text-wrap>div{
    width: 50%;
}
.car-color ul{
    display: flex;
    justify-content: space-around;
}
.car-color li{
    margin: 10% 10%;
    list-style: none;
    cursor: pointer;
}
.car-color img{
    width: 40px;
    height: 40px;
    border: 3px solid #ccc;
}
.car-text>ul>li:first-child{
    display: block;
}
.car-text>ul>li{
    margin-top: 2.3%;
    display: none;
    font-weight: 800;
    color: #ccc;
    font-size: 2.4rem;
}
.car-text>ul>li>p{
    font-weight: lighter;
    font-size: 1.2rem;
}
.section02-notice{
    font-size: x-small;
    color: #ccc;
    font-family: 'GmarketSansLight';
}
/* section02 */
.section03{
    width: 100%;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background: #333;
    overflow: hidden;
}
.section03-gallery{
    width: 200%;
    height: 100%;
}
.exterior{
    height: 100%;
    background: #333;
    padding: 0;
    margin: 0;
}
.interior{
    height: 100%;
    background: #333;
    padding: 0 15px;
    margin: 0;
}

/* section03 영역분할 */
.exterior-title-wrap{
    padding: 0 !important;
}
.title-border{
    width: 30px;
    height: 5px;
    background: white;
}
.title-text{
    color: #fff;
}
/* exterior title */
.exterior-gallery{
    padding: 0 !important;
    margin: 0 !important;
}
.exterior-gallery>div>div{
    padding: 0 !important;
    margin: 0 !important;
}
.exterior-gallery>div>div{
        border-bottom: 3px solid #fff;
}
.exterior-gallery>div>div:first-child{
        border-right: 3px solid #fff;
        box-sizing: border-box;
}
.exterior-gallery_1,.exterior-gallery_2{
    border-top: 3px solid #fff;
}
.exterior-gallery_1{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_ex01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.exterior-gallery_2{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_ex02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.exterior-gallery_3{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_ex03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.exterior-gallery_4{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_ex04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.exterior-gallery_5{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_ex05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.exterior-gallery_6{
    height: 33.2vh;
    background: url(../images/K7/ms_k7_pl_df_img_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* exterior gallery img & border */
.exterior-gallery a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: x-large;
}
.exterior-gallery a:hover{
    background: rgba(0,0, 0, 0.8);
}
.exterior-gallery>div>div>a>p{
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    line-height: 33.33vh;
}
.exterior-gallery>div>div>a>p:hover{
    opacity: 1;
}

/* exterior */
.interior-title-wrap{
    width: 33%;
    margin: 0 !important;
    margin-left: 33%;
    padding: 0;
}
.title-border{
    width: 30px;
    height: 5px;
    background: white;
}
.title-text{
    color: #fff;
}
/* exterior title */
.interior-gallery>div>div{
        border-bottom: 3px solid #fff;
        padding: 0;
}
.interior-gallery>div>div:first-child{
        border-right: 3px solid #fff;
        box-sizing: border-box;
}
.interior-gallery_1,.interior-gallery_2{
    border-top: 3px solid #fff;
}
.interior-gallery_1{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_in01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.interior-gallery_2{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_in02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.interior-gallery_3{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_in03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.interior-gallery_4{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_in04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.interior-gallery_5{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_in05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.interior-gallery_6{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_in05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* interior gallery img & border */
.interior-gallery a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: x-large;
}
.interior-gallery a:hover{
    background: rgba(0,0, 0, 0.8);
}
.interior-gallery>div>div>a>p{
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    line-height: 33.33vh;
}
.interior-gallery>div>div>a>p:hover{
    opacity: 1;
}
/* interior */
/* section03 */
.section04{
    width: 100%;
    height: 100vh; 
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 36%, rgba(51,51,51,0.85) 82%, rgba(51,51,51,0.9) 87%, rgba(51,51,51,0.95) 94%, rgba(51,51,51,1) 100%);
    position: relative;
}
.section04_container{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.section04-menu-title{
    /* height: 100vh; */
    padding: 0 5%;
    padding-top: 10%;
    margin: 0;
    position: relative;
}
.section04-content{
    height: 100vh;
    padding: 0;
    position: relative;
}
/* section04-big-box */
.drive_wise_title{
    width: 100%;
    height: 14vh;
    padding: 0;
    margin: 0;
    border: 3px solid #ccc;
    background: #333;
}
.dw_title_text{
    color: white;
}
.dw_title_text_line{
    width: 40px;
    height: 2px;
    background: white;
}
.drive_wise{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: absolute;
    /* display: none; */
    z-index: 2;
}
.dw_main_img{
    position: relative;
    height: 36vh;
    background: url(../images/K7/k7_premier_drivewise_01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dw_sub_img{
    width: 100%;
    height: 50vh;
    padding: 0;
    margin: 0;
}
.dw_sub_img>div{
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    border-top: 3px solid white;
    border-right: 3px solid white;
}
.dw_sub_img>div:last-child{
    border-right: none;
}
.dw_sub_img>div>div:hover{
    transform: scale(1.1);
    transition:1s;
}
.dw_sub_img01{
    height: 50vh;
    background: url(../images/K7/k7_premier_drivewise_06.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dw_sub_img02{
    height: 50vh;
    background: url(../images/K7/k7_20my_yg_drivewise_external_air_inflow_control_w.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dw_sub_img03{
    height: 50vh;
    background: url(../images/K7/k7_premier_drivewise_08.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* drive-wise */
.convenience{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: turquoise;
    position: absolute;
    z-index: 1;
    /* display: none; */
}
.convenience_title{
    width: 100%;
    height: 14vh;
    padding: 0;
    margin: 0;
    border: 3px solid #ccc;
    background: #333;
}
.con_title_text{
    color: white;
}
.con_title_text_line{
    width: 40px;
    height: 2px;
    background: white;
}

.con_main_img{
    position: relative;
    height: 36vh;
    background: url(../images/K7/k7_20my_yg_interior_horizontal_layout_w.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.con_sub_img{
    width: 100%;
    height: 50vh;
    padding: 0;
    margin: 0;
}
.con_sub_img>div{
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    border-top: 3px solid white;
    border-right: 3px solid white;
}
.con_sub_img>div:last-child{
    border-right: none;
}
.con_sub_img>div>div:hover{
    transform: scale(1.1);
    transition:1s;
}
.con_sub_img01{
    height: 50vh;
    background: url(../images/K7/K7_premier_con04.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.con_sub_img02{
    height: 50vh;
    background: url(../images/K7/K7_premier_con05.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.con_sub_img03{
    height: 50vh;
    background: url(../images/K7/K7_premier_con06.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.con_sub_img04{
    height: 50vh;
    background: url(../images/K7/K7_premier_con07.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
/* convenience */
.safety{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
}
.safety_title{
    width: 100%;
    height: 14vh;
    padding: 0;
    margin: 0;
    border: 3px solid #ccc;
    background: #333;
}
.safety_title_text{
    color: white;
}
.safety_title_text_line{
    width: 40px;
    height: 2px;
    background: white;
}

.safety_main_img{
    position: relative;
    height: 36vh;
    background: url(../images/K7/K7_premier_safety01_w1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.safety_sub_img{
    width: 100%;
    height: 50vh;
    padding: 0;
    margin: 0;
}
.safety_sub_img>div{
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    border-top: 3px solid white;
    border-right: 3px solid white;
}
.safety_sub_img>div:last-child{
    border-right: none;
}
.safety_sub_img>div>div:hover{
    transform: scale(1.1);
    transition:1s;
}
.safety_sub_img01{
    height: 50vh;
    background: url(../images/K7/K7_premier_con04.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.safety_sub_img02{
    height: 50vh;
    background: url(../images/K7/K7_premier_con05.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.safety_sub_img03{
    height: 50vh;
    background: url(../images/K7/K7_premier_con06.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* section04 */
.section05{
    width: 100%;
    height: 100vh;
}
@media(max-width:767px){
    .section01-title{
        margin-top: 40%;
    }
    .section01-title img{
        width: 20%;
    }
    .section01-title-text{
        font-size: small;
    }
    .tab_car_img img{
        width: 100%;
    }
    .section02{
        display: flex;
        align-items: center;
    }
    .section02_title img{
        width: 20%;
    }
    .section03{
        height: auto;
    }
    .section03-gallery{
        display: flex;
    }
    .exterior{
        width: 100%;
        padding: 0;
    }
    .exterior-gallery{
        width: 55%;
    }
    .interior{
        width: 100%;
        display: none;
        padding: 0;
    }
    .interior-gallery{
        width: 100%;
    }
    .exterior-gallery>div{
        padding: 0 2%;
    }
    .interior-gallery>div{
        padding: 0 .1%;
        margin: 0;
    }
    .exterior-gallery_2{
        border-top: none;
    }
    .interior-gallery_2{
        border-top: none;
    }

    .dwp1{
        left: 9%;
        top: 41.5%;
        transition: all .5s;
    }
    .dwp2{
        left: 32%;
        top: 42.5%;
        transition: all .5s;
    }
    .dwp4{
        right: 12%;
        top: 41.5%;
        transition: all .5s;
    }
}