@font-face {font-family: "Helvetica Neue"; src: url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.eot"); src: url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.woff") format("woff"), url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.svg#Helvetica Neue") format("svg"); }
@font-face { font-family: 'locus_sangsang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/locus_sangsang.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GyeonggiTitleM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: '2YangPyeongM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/2YangPyeongM.woff') format('woff'); font-weight: normal; font-style: normal; }
.section01{
    background-color: black;
    height: 100vh;
    width: 100%;
}

.section01-bg-img{
    background: url(../images/K7/ms_k7_pl_df2_img_1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.section01-bg-opacity{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(51,51,51,0.8211659663865546) 9%, rgba(51,51,51,0.31976540616246496) 17%, rgba(51,51,51,0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 8%;
}
.section01-title{
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 12%;
}
.section01-title p{
    font-family: "Helvetica Neue";
    font-style: italic;
}
.section01-title img{
    width: 8%;
    height: 8%;
    display: block;
}
.section01-title-text{
    color: white;
    font-size: large;
}
/* section01 */
.section02{
    width: 100%;
    height: 120vh;
    padding: 120px 0;
    background: #333;
}
.section02_title{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section02_title img{
    width: 10%;
}
.section02_title p{
    color: white;
    font-weight: 900;
    font-size: 5rem;
    margin-top: 3%;
    font-family: "Helvetica Neue";
    font-style: italic;
}
.car_img_wrap{
    height: 60%;
    display: flex;
    align-items: center;
}
.tap_car_img{
    width: 100%;
    height: 80vh;
}

.ABP,.ABT,.B4U,.SS4{
    display: none;
}
.tab_car_color_text{
    width: 100%;
    height: 5%;
}
.car-color-text-wrap{

    display: flex;
    justify-content: space-evenly;
}
.car-color-text-wrap>div{
    width: 50%;
}
.car-color ul{
    display: flex;
    justify-content: space-around;
}
.car-color li{
    margin: 10% 10%;
    list-style: none;
    cursor: pointer;
}
.car-color img{
    width: 40px;
    height: 40px;
    border: 3px solid #ccc;
}
.car-text>ul>li:first-child{
    display: block;
}
.car-text>ul>li{
    display: none;
    font-weight: 500;
    color: #ccc;
    font-size: 2.2rem;
}
/* section02 */
.section03{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #333;
    overflow: hidden;
}
.section03-gallery{
    width: 200%;
    height: 100%;
}
.exterior{
    height: 100%;
    background: #333;
}
.interior{
    height: 100%;
    background: #333;
}
/* section03 영역분할 */
.exterior-title-wrap{
    width: 33%;
    margin-left: 33%;
}
.title-border{
    width: 30px;
    height: 5px;
    background: white;
}
.title-text{
    color: #fff;
}
/* exterior title */

.exterior-gallery>div>div{
    padding: 0 !important;
}
.exterior-gallery>div>div{
        border-bottom: 3px solid #fff;
}
.exterior-gallery>div>div:first-child{
        border-right: 3px solid #fff;
}
.exterior-gallery_1,.exterior-gallery_2{
    border-top: 3px solid #fff;
}
.exterior-gallery_1{
    height: 33.33vh;
    background: url(../images/K7/k7_premier_popup_ex01.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.exterior-gallery_2{
    height: 33.33vh;
    background: url(../images/K7/k7_premier_popup_ex02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.exterior-gallery_3{
    height: 33.33vh;
    background: url(../images/K7/k7_premier_popup_ex03.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.exterior-gallery_4{
    height: 33.33vh;
    background: url(../images/K7/k7_premier_popup_ex04.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.exterior-gallery_5{
    height: 33.33vh;
    background: url(../images/K7/k7_premier_popup_ex05.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.exterior-gallery_6{
    height: 33.33vh;
    background: url(../images/K7/ms_k7_pl_df_img_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* exterior gallery img & border */
.exterior-gallery a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: x-large;
}
.exterior-gallery a:hover{
    background: rgba(0,0, 0, 0.8);
}
.exterior-gallery>div>div>a>p{
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    line-height: 33.33vh;
}
.exterior-gallery>div>div>a>p:hover{
    opacity: 1;
}

/* exterior */
.interior-title-wrap{
    width: 33%;
    margin-left: 33%;
}
.title-border{
    width: 30px;
    height: 5px;
    background: white;
}
.title-text{
    color: #fff;
}
/* exterior title */
.interior-gallery>div>div{
        border-bottom: 3px solid #fff;
        padding: 0;
}
.interior-gallery>div>div:first-child{
        border-right: 3px solid #fff;
}
.interior-gallery_1,.interior-gallery_2{
    border-top: 3px solid #fff;
}
.interior-gallery_1{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_in01.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.interior-gallery_2{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_in02.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.interior-gallery_3{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_in03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.interior-gallery_4{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_in04.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.interior-gallery_5{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_in05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.interior-gallery_6{
    height: 33.2vh;
    background: url(../images/K7/k7_premier_popup_in05.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* interior gallery img & border */
.interior-gallery a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: x-large;
}
.interior-gallery a:hover{
    background: rgba(0,0, 0, 0.8);
}
.interior-gallery>div>div>a>p{
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    line-height: 33.33vh;
}
.interior-gallery>div>div>a>p:hover{
    opacity: 1;
}
/* interior */
/* section03 */
.section04{
    width: 100%;
    height: 100vh; 
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 36%, rgba(51,51,51,0.85) 82%, rgba(51,51,51,0.9) 87%, rgba(51,51,51,0.95) 94%, rgba(51,51,51,1) 100%);
    padding: 200px 0;
}
.section04_container{
    width: 100%;
    height: 100vh;
    padding: 0;
}
.section04-menu-title{
    height: 100vh;
    padding: 0;
}
.section04-content{
    padding: 0;
    position: relative;
}
/* section04-big-box */
.drive_wise{
    width: 100%;
    height: 100vh;
    background: tomato;
    padding: 0;
    position: absolute;
}
.dw_main_img{
    width: 100%;
    height: 50vh;
    background: url(../images/K7/k7_premier_drivewise_01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* .dw_sub_img{
    width: 100%;
    height: 50vh;
} */
.dw_sub_img01{
    /* width: 100%;
    height: 100%; */
    background: url(../images/K7/k7_premier_drivewise_02.jpg);
}
/* drive-wise */
.convenience{
    width: 100%;
    height: 100vh;
    background: turquoise;
    position: absolute;
    z-index: -1;
}
.safety{
    width: 100%;
    height: 100vh;
    background: violet;
    position: absolute;
    z-index: -2;
}
/* section04 */
.section05{
    width: 100%;
    height: 100vh;
}
@media(max-width:767px){
    .section01-title{
        margin-top: 40%;
    }
    .section01-title img{
        width: 20%;
    }
    .section01-title-text{
        font-size: small;
    }
    .tab_car_img img{
        width: 100%;
    }
    .section02{
        display: flex;
        align-items: center;
    }
    .section02_title img{
        width: 20%;
    }
    .section03{
        height: auto;
    }
    .section03-gallery{
        display: flex;
    }
    .exterior{
        width: 100%;
        padding: 0;
    }
    .exterior-gallery{
        width: 55%;
    }
    .interior{
        width: 100%;
        display: none;
        padding: 0;
    }
    .interior-gallery{
        width: 100%;
    }
    .exterior-gallery>div{
        padding: 0 2%;
    }
    .interior-gallery>div{
        padding: 0 .1%;
        margin: 0;
    }
    .exterior-gallery_2{
        border-top: none;
    }
    .interior-gallery_2{
        border-top: none;
    }

    .dwp1{
        left: 9%;
        top: 41.5%;
        transition: all .5s;
    }
    .dwp2{
        left: 32%;
        top: 42.5%;
        transition: all .5s;
    }
    .dwp4{
        right: 12%;
        top: 41.5%;
        transition: all .5s;
    }
}