@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap');

#banner>.inner>p{
	letter-spacing: -1vw !important;
	font-weight: 600 !important;
	line-height: unset !important;
}
/* 메인페이지 */

#one>.inner>.major>h2{
	letter-spacing: 0.16983vw;
	margin: 1.3021vw;
}
/* 설명페이지 페이지01 */
@media screen and (max-width: 980px){
	body.is-mobile.landing .wrapper.style4 {
		background-color: rgba(255, 255, 255,0.5);
		background-blend-mode: overlay;
		background-image: url(../../images/main-2.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
@media screen and (max-width: 736px) {
	body.is-mobile.landing #banner{
		background: url(../../images/main-2.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
/* 메인페이지 */
#three{
	padding: 6em 0 9em;
}
#three>.inner>.major{
	margin: 0;
	padding-bottom: 7.1vw;
}
#three>.inner>div>.container:first-child{
	padding-bottom: 9.375vw;
}
#three>.inner>div>.container p{
	margin: 0;
}
#three>.inner>div>.container>.row>.col-lg-3:hover{
	cursor: pointer;
}
#three>.inner>div>.container>.row>.col-lg-3>div:first-child{
	padding: 0 0 1.5vw;
}
#three>.inner>div>.container>.row>.col-lg-3>p:last-of-type{
	font-size: 0.8em;
	font-weight: 300;
}
#three>.inner>div>.container>.row>.col-lg-3>p:first-of-type{
	font-size: 0.9em;
	font-weight: 550;
}
#three>.inner>div>.container>.row>.col-lg-3 .name{
	font-size: 0.95em;
	font-weight: 600;
}
.name{
	font-family: 'Merriweather', serif;
	font-weight: 500;
	letter-spacing: 2px;
}
.line{
	margin: 0 auto;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
/*  */
/* @media screen and (max-width: 980px){
	#three>.inner>div>.container>.row {
		width: 100%;
		margin: 0 auto !important;
} */
/*  */

#cta>.inner>header>h2{
	letter-spacing: .112vw;
}
#cta>.inner>header>p{
	margin:0;
	padding: 4em 0;
	letter-spacing: 1px;
}

#footer .copyright li{
	line-height: 1.5em;
}




/* about us */

body.aboutus #page-wrapper{
	/* padding: 12em 0 10em 0; */
    background: url(../../images/about-main.jpg);
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position-x: right ;
    background-size: cover;
    text-align: center;
}
#about_main>header{
	padding: 12em 0 10em 0;
    background: url(../../images/about-main.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
	background-size: cover;
	background-position-x: right;
    text-align: center;
}