@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}
            

#banner>.inner>p{
	letter-spacing: -1vw !important;
	font-weight: 600 !important;
	line-height: unset !important;
}
/* 메인페이지 */

#one>.inner>.major>h2{
	letter-spacing: 0.16983vw;
	margin: 1.3021vw;
}
/* 설명페이지 페이지01 */
#three{
	padding: 6em 0 9em;
}
#three>.inner>.major{
	margin: 0;
	padding-bottom: 7.1vw;
}
#three>.inner>div>.container{
	padding: 1.5vw 0;
}
#three>.inner>div>.container p{
	margin: 0;
}
/* #three>.inner>div>.container>.row>.col-lg-3:hover{
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
} */
#three>.inner>div>.container>.row>.col-lg-3>div:first-child{
	padding: 0 0 1.5vw;
}
#three>.inner>div>.container>.row>.col-lg-3>p:first-of-type{
	font-size: 18px;
	font-weight: 500;
}
#three>.inner>div>.container>.row>.col-lg-3>p:last-of-type{
	font-size: 16px;
	font-weight: 300;
}
.name{
	font-family: 'Nanum Myeongjo', serif;
	font-weight: bold !important;
}
.line{
	margin: 0 auto;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
/*  */

#cta>.inner>header>h2{
	letter-spacing: .112vw;
}
#cta>.inner>header>p{
	margin:0;
	padding: 4em 0;
	letter-spacing: .1vw;
}