@font-face {font-family: "Helvetica Neue"; src: url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.eot"); src: url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.woff") format("woff"), url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b71c831cd232effde30ce1bec5e171d5.svg#Helvetica Neue") format("svg"); }
/* premier font */
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }
body{
    font-family: 'GmarketSansLight'; 
}
a{
    text-decoration: none;
    color: inherit;
}
.section01{
    background-color: black;
    height: 100vh;
    width: 100%;
}

.section01-bg-img{
    background: url(../images/K7/ms_k7_pl_df2_img_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.section01-bg-opacity{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(51,51,51,0.8211659663865546) 9%, rgba(51,51,51,0.31976540616246496) 17%, rgba(51,51,51,0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 8%;
}
.section01-title{
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 12%;
}
.section01-title p{
    font-family: "Helvetica Neue";
    font-style: italic;
    margin-top: 1%;
}
.section01-title img{
    width: 8%;
    height: 8%;
    display: block;
}
.section01-title-text{
    color: white;
    font-size: normal;
}
/* section01 */
.section02{
    width: 100%;
    height: 100vh;
    background: #333;
    position: relative;
}
.section02_title{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section02_title img{
    width: 9%;
}
.section02_title p{
    color: white;
    font-weight: 900;
    font-size: 4.5rem;
    margin-top: 2%;
    font-family: "Helvetica Neue";
    font-style: italic;
}
.car_img_wrap{
    height: 50%;
    display: flex;
    align-items: center;
}
.tap_car_img{
    width: 100%;
    height: 60vh;
}

.ABP,.ABT,.B4U,.SS4{
    display: none;
}
.tab_car_color_text{
    width: 100%;
    height: 5%;
}
.car-color-text-wrap{
    display: flex;
    justify-content: space-evenly;
}
.car-color-text-wrap>div{
    width: 50%;
}
.car-color ul{
    display: flex;
    justify-content: space-around;
}
.car-color li{
    margin: 10% 10%;
    list-style: none;
    cursor: pointer;
}
.car-color img{
    width: 40px;
    height: 40px;
    border: 3px solid #ccc;
}
.car-text>ul>li:first-child{
    display: block;
}
.car-text>ul>li{
    margin-top: 2.3%;
    display: none;
    font-weight: 800;
    color: #ccc;
    font-size: 2.4rem;
}
.car-text>ul>li>p{
    font-weight: lighter;
    font-size: 1.2rem;
}
.section02-notice{
    font-size: x-small;
    color: #ccc;
    font-family: 'GmarketSansLight';
    margin-top: 4%;
}
/* section02 */
.section03{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #333;
}
.section03-gallery{
    width: 200% !important;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
}
.gtt{
    letter-spacing:  1vh; 
    font-size: 2.5rem; 
    font-weight: 900; 
    line-height: 4.8rem;
}
.hideTxt{
    display: none;
    color: #333;
    width: 100%;
    height: 20%;
    font-weight: 800;
    background: #fff;
    text-align: center;
    padding: 2.5% 0;
}
.section03-gallery>div{
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow: unset !important;
    position: relative;
}
.exterior{
    width: 50%;
    height: 100vh;
    padding: 1.2% 0;
    margin: 0;
    display: unset !important;
    table-layout: unset !important;
}
.exterior>div{
    display: unset !important;
    vertical-align: unset !important;
    width: 100%;
}
.interior{
    width: 50%;
    height: 100vh;
    padding: 1.2% 0;
    margin: 0;
}
.interior>div{
    display: unset !important;
    vertical-align: unset !important;
    width: 100%;
}
.fp-controlArrow{
    position: unset !important;
    width: unset;
    height: unset ;
    margin: 0 auto !important;
    border: unset;
}
.fp-prev {
    display: none !important;
}
.fp-next {
    display: none !important;
}
.fp-slidesContainer{
    width: 100% !important;
}
/* section03 영역분할 */
.gallery-title-wrap{
    width: 50%;
    margin: 0 auto;
}
.gallery-border{
    width: 114px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
}
.gallery-text{
    color: white;
    text-align: center;
    margin: 1% 0;
}
.gallery-btn{
    width: 114px !important;
    height: 27px !important;
    display: block;
    margin: 0 auto;
}
/* section03-title */
.exterior-gallery{
    width: 85%;
    height: 80vh;
    display: block;
    padding: 3% 0;
    margin: 0 auto;
}
.exterior-gallery>div{
    width: 100%;
    height: 50%;
    border: 1px solid #ccc;
}
.exterior-gallery>div:first-child{
    border-bottom: none;
}
.exterior-gallery>div>div{
    height: 100%;
    padding: 0;
    border-left: 1px solid #ccc;
}
.exterior-gallery>div>div:first-child{
    border-left: none;
}
.exterior-gallery a{
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    font-size: 120%;
    text-decoration: none;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: .6s;
}
.exterior-gallery a:hover{
    opacity: 1;
}
/* gallery box */
.exterior-gallery_1{
    background: url(../images/K7/k7_premier_popup_ex01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.exterior-gallery_2{
    background: url(../images/K7/k7_premier_popup_ex02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.exterior-gallery_3{
    background: url(../images/K7/k7_premier_popup_ex03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.exterior-gallery_4{
    background: url(../images/K7/k7_premier_popup_ex04.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.exterior-gallery_5{
    background: url(../images/K7/k7_premier_popup_ex05.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.exterior-gallery_6{
    background: url(../images/K7/k7_premier_popup_ex06.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* exterior gallery */
.interior-gallery{
    width: 85%;
    height: 80vh;
    display: block;
    padding: 3% 0;
    margin: 0 auto;
    margin-top: -1%;
}
.interior-gallery>div{
    width: 100%;
    height: 50%;
    border: 1px solid #ccc;
}
.interior-gallery>div:first-child{
    border-bottom: none;
}
.interior-gallery>div>div{
    height: 100%;
    padding: 0;
    border-left: 1px solid #ccc;
}
.interior-gallery>div>div:first-child{
    border-left: none;
}
.interior-gallery a{
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    font-size: 120%;
    text-decoration: none;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: .6s;
}
.interior-gallery a:hover{
    opacity: 1;
}
/* gallery box */
.interior-gallery_1{
    background: url(../images/K7/k7_premier_popup_in01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.interior-gallery_2{
    background: url(../images/K7/k7_premier_popup_in02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.interior-gallery_3{
    background: url(../images/K7/k7_premier_popup_in03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.interior-gallery_4{
    background: url(../images/K7/k7_premier_popup_in04.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.interior-gallery_5{
    background: url(../images/K7/k7_premier_popup_in05.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.interior-gallery_6{
    background: url(../images/K7/k7_premier_popup_in06.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* interior gallery */
.modal-content{
    background: #111;
    color: #fff;
}
.modal-content span{
    color: #fff;
    font-size: xx-large;
}
/* section03 */
.section04{
    width: 100%;
    height: 100vh; 
    background: #333;
    position: relative;
    padding: 0;
}
.section04_container{
    width: 84%;
    height: 100vh;
    padding: 0;
    margin: 0 auto;
}
.section04-menu-title{
    width: 100%;
    padding-top: 3%;
    margin: 0 auto;
}
.section04-menu-title>ul{
    margin: 0 auto;
}
.section04-menu-title>ul>li{
    margin: 0 auto;
}
.section04-menu-title>ul>li>a{
    border-radius: unset;
    text-decoration: none;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.6);
}
.section04-content{
    height: 80vh;
    padding: 0;
    position: relative;
}
.dots {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: darkred;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    cursor: pointer;
    padding: 5px;
}
.dots>div{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #222;
    position: static;
    animation: points 2s ease-in-out infinite;
}
.dots a{
    width: 100%;
    height: 100%;
    display: block;
}
@keyframes points {
	0% {
		opacity: 0;
		transform: scale(.5);
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.5);
	}
}
/* section04-big-box */
.drive_wise_title{
    width: 100%;
    height: 14vh;
    padding: 0;
    margin: 0;
    background: #444;
}
.dw_title_text{
    color: white;
    padding: .5% 5%;
}
.safety_title_text{
    color: white;
    padding: .5% 5%;
}
.dw_title_text01{
    font-weight: 900;
    line-height: 3.5rem;
}
.dw_title_text02{
    line-height: 4rem;
    font-size: x-large;
    font-weight: bold;
}
.drive_wise{
    width: 100%;
    height: 80vh;
    padding: 0;
    margin: 0;
    position: absolute;
    /* display: none; */
    z-index: 2;
}
.dw_main_img{
    position: relative;
    height: 36.5vh;
    background: url(../images/K7/k7_premier_drivewise_01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#dw_dot_01{
    top: 30%;
    left: 8%;
}
#dw_dot_02{
    left: 32%;
    top: 32%;
}
#dw_dot_03{
    left:60%;
    top: 55%;
}
#dw_dot_04{
    left: 75%;
    top: 30%;
}
.con_sub_img{
    width: 100%;
    height: 37.5vh;
    padding: 0;
    margin: 0;
}
.dw_sub_img>div{
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden !important;
    border-top: 3px solid white;
    border-right: 3px solid white;
    box-sizing: border-box;
    cursor: pointer;
}

.drive_wise p{
    color: #fff;
    text-align: center;
    line-height: 40vh;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: .5s;
}
.drive_wise p:hover{
    opacity: 1;
}
.drive_wise a {
    text-decoration: none;
}
.dw_sub_img{
    width: 100%;
    height: 37vh;
    padding: 0;
    margin: 0;
}
.dw_sub_img>div{
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    border-top: 3px solid white;
    border-right: 3px solid white;
    box-sizing: border-box;
}
.dw_sub_img>div:last-child{
    border-right: none;
}
.dw_sub_img>div>div:hover{
    transform: scale(1.1);
    transition:1s;
}
.dw_sub_img01{
    height: 37vh;
    background: url(../images/K7/k7_premier_drivewise_06.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dw_sub_img02{
    height: 37vh;
    background: url(../images/K7/k7_20my_yg_drivewise_external_air_inflow_control_w.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dw_sub_img03{
    height: 37vh;
    background: url(../images/K7/k7_premier_drivewise_08.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* drive-wise */
.convenience{
    width: 100%;
    height: 80vh;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    /* display: none; */
}
.convenience_title{
    width: 100%;
    height: 14vh;
    padding: 0;
    margin: 0;
    background: #444;
}
.con_title_text{
    color: white;
    padding: .5% 5%;
    font-weight: 900;
    line-height: 3.5rem;
}
.con_title_text span{
    line-height: 4rem;
    font-size: x-large;
    font-weight: bold;
}
.con_main_img{
    position: relative;
    height: 36vh;
    background: url(../images/K7/k7_20my_yg_interior_horizontal_layout_w.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#con_dot_01{
    left: 48%;
    top: 25%;
}
#con_dot_02{
    left: 32%;
    top: 20%;
}
#con_dot_03{
    left: 45%;
    bottom: 5%;
}
.con_sub_img{
    width: 100%;
    height: 37.5vh;
    padding: 0;
    margin: 0;
}
.con_sub_img>div{
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    border-top: 3px solid white;
    border-right: 3px solid white;
    box-sizing: border-box;
    cursor: pointer;
}
.con_sub_img>div:last-child{
    border-right: none;
}
.con_sub_img>div>div:hover{
    transform: scale(1.1);
    transition:1s;
}
.convenience p{
    color: #fff;
    text-align: center;
    line-height: 40vh;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: .5s;
}
.convenience p:hover{
    opacity: 1;
}
.convenience a {
    text-decoration: none;
}
.con_sub_img01{
    height: 37vh;
    background: url(../images/K7/K7_premier_con04.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.con_sub_img02{
    height: 37vh;
    background: url(../images/K7/K7_premier_con05.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.con_sub_img03{
    height: 37vh;
    background: url(../images/K7/K7_premier_con06.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.con_sub_img04{
    height: 37vh;
    background: url(../images/K7/K7_premier_con07.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
/* convenience */
.safety{
    width: 100%;
    height: 80vh;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
    /* display: none; */
}
.safety_title{
    width: 100%;
    height: 14vh;
    padding: 0;
    margin: 0;
    background: #444;
}
.safety_title_text{
    color: white;
    padding: .5% 5%;
}
.safety_title_text01{
    font-weight: 900;
    line-height: 3.5rem;
}
.safety_title_text02{
    line-height: 4rem;
    font-size: x-large;
    font-weight: bold;
}
.safety_main_img{
    position: relative;
    height: 36vh;
    background: url(../images/K7/K7_premier_safety01_w1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.safety_sub_img{
    width: 100%;
    height: 37vh;
    padding: 0;
    margin: 0;
}
.safety_sub_img>div{
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    border-top: 3px solid white;
    border-right: 3px solid white;
    box-sizing: border-box;
    cursor: pointer;
}
.safety_sub_img>div:last-child{
    border-right: none;
}
.safety_sub_img>div>div:hover{
    transform: scale(1.1);
    transition:1s;
}
.safety p{
    color: #fff;
    text-align: center;
    line-height: 40vh;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: .5s;
}
.safety p:hover{
    opacity: 1;
}
.safety a {
    text-decoration: none;
}
.safety_sub_img01{
    height: 50vh;
    background: url(../images/K7/K7_premier_safety01_w2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.safety_sub_img02{
    height: 50vh;
    background: url(../images/K7/K7_premier_safety01_w3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.safety_sub_img03{
    height: 50vh;
    background: url(../images/K7/K7_premier_safety01_w4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* section04 */
.section05{
    width: 100%;
    height: 100vh;
    background: #333;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
/* 슬라이더  vvvvv */
.img-comp-large-container {
    width: 100%;
    height: 100vh;
    background: #333;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 1%;
  }

  .img-comp-container {
      position: relative;
      /* top: 40%;
      left: 40%; */
      /* transform: transparent(-50%, -50%); */
  }
  
  
  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow:hidden;
  }
  
  .img-comp-img div {
    display:block;
    vertical-align:middle;
  }
  
  .img-comp-slider {
    position: absolute;
    background-color: tomato;
    border-radius: 100%;
    /* background-image: url(../images/K7/wheel.png); */
    background-position: center;
    background-repeat: no-repeat;
    z-index:9;
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 1;
  }
/* slider */
.Spec-img01{
    width: 100%;
    height: 60vh;
}
.Spec-img01 div{
    width: 100%;
    height: 60vh;
    background-color: thistle;
}
.Spec-img02{
    width: 100%;
    height: 60vh;
    background: #333;
}
.Spec-img02 img{
    width: 100%;
    height: 60vh;
}
.Spec-img-container{
    width: 88%;
    margin: 0 auto !important;
    padding: 0;
}
.spec-info{
    display: flex !important;
}
/* section05 */
@media(max-width:767px){
    .section01-title{
        margin-top: 30%;
    }
    .section01-title img{
        width: 15%;
    }
    .section01-title p{
        font-size: 3rem;
    }
    .section01-title-text{
        font-size: x-small;
    }
    .tab_car_img img{
        width: 100%;
    }
    /* section01 */
    .section02{
        display: flex;
        align-items: center;
        padding: 20% 0;
    }
    .section02_title img{
        width: 20%;
    }
    .car-text{
        margin-top: 10%;
    }
   .section02-notice{
       margin-top: 10%;
   }
    /* section02 */
    .section03{
        padding-top: 12%;
    }
    .section03-gallery{
        display: flex;
    }
    .exterior-gallery{
        position: relative;
        width: 85%;
        height: 50%;
    }
    .exterior strong{
        line-height: 4rem;
    }
    .gtt{
        font-size: 2rem;
        line-height: 3rem;
    }
    .exterior-gallery>div{
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 10% !important;
        flex-wrap: wrap;
    }
    .exterior-gallery>div>div{
        display: none;
        border: none;
    }
    .hideTxt{
        display: block;
    }
    .exterior-gallery_1{
       display: block !important;
       width: 100% !important;
       height: 35vh !important;
       border: 2px solid #ccc !important;
   }
.interior-gallery{
    position: relative;
    width: 85%;
    height: 50%;
    margin: 0 auto;
}
.interior-gallery>div{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10% !important;
    flex-wrap: wrap;
}
.interior-gallery>div>div{
    display: none;
    border: none;
}
.interior-gallery_1{
   display: block !important;
   width: 100% !important;
   height: 35vh !important;
   border: 2px solid #ccc !important;
}
/* section03 */
    .section04{
        padding-top: 4%;
    }
    .section04-menu-title>ul{
        width: 70%;
        display: flex;
        justify-content: center;
        margin-left: 0 !important;
    }
    .section04-menu-title a{
        font-size: small !important;
    }
    .dw_title_text{
        font-size: xx-small;
        line-height: unset;
        padding-top: 2% ;
    }
    .dw_title_text01{
        font-size: small;
        line-height: 2rem;
    }
    .dw_title_text02{
        font-size: medium;
    }
    #dw_dot_01{
        top: 40%;
        left: 8%;
    }
    #dw_dot_02{
        left: 32%;
        top: 42%;
    }
    #dw_dot_03{
        left:60%;
        top: 50%;
    }
    #dw_dot_04{
        left: 73.5%;
        top: 41%;
    }
    .dw_sub_img{
        display: flex;
    }
    .dw_sub_img>div{
        border: none;
        width: 33.33%;
        overflow: hidden;
    }
    .dw_sub_img p{
        font-size: xx-small;
    }
/* dw_sub-img */
    .con_title_text{
        font-size: small;
        line-height: unset;
        padding-top: 2% ;
        line-height: 2rem;
    }
    .con_title_text span{
        font-size: medium;
    }
    #con_dot_01{
        top: 40%;
        left: 47%;
    }
    #con_dot_02{
        left: 32%;
        top: 38%;
    }
    #con_dot_03{
        left:45%;
        top: 67%;
    }
    .con_sub_img{
        display: flex;
        justify-content: space-between;
    }
    .con_sub_img>div{
        border: none;
        width: 25%;
        overflow: hidden !important;
    }
    .con_sub_img p{
        font-size: xx-small;
    }
    /* con_sub_img */
    .safety_title_text{
        font-size: xx-small;
        line-height: unset;
        padding-top: 2% ;
    }
    .safety_title_text01{
        font-size: small;
        line-height: 2rem;
    }
    .safety_title_text02{
        font-size: medium;
    }
    .safety_sub_img{
        display: flex;
    }
    .safety_sub_img>div{
        border: none;
        width: 33.33%;
        overflow: hidden;
    }
    .safety_sub_img p{
        font-size: xx-small;
    }
}