*{
    margin: 0;
    padding: 0;
    color: #222328;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

nav{
    margin: 0 auto;
    width: 1200px;
    height: 100px;
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
}
.logo{
    margin-top: 30px;
    margin-left: 30px;
}
.main_menu{
    display: flex;
    width: 400px;
    margin-top: 25px;
    margin-right: 20px;
    justify-content: space-between;
}
.main_menu li{
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: white;
    color: lightskyblue;
    text-align: center;
}
.main_menu li:hover{
    background-color: lightblue;
    color: white;
}
.sub_menu{
    width: 400px;
    height: 160px;
    background-color: white;
    color: lightskyblue;
    justify-content: space-between;
    display: none;
    border: 1px solid lightblue;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
}
.sub_menu ul{
    width: 100px;
    text-align: center;
}
.sub_menu li{
    line-height: 40px;
}
.sub_menu li:hover{
    background-color: lightblue;
    color: white;
}
.section2{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}
.section2 img{
    display: block;
}
.section3{
    margin: 0 auto;
    width: 1200px;
    height: 200px;
    display: flex;
}
.tab_container{
    width: 400px;
    height: 200px;
    background-color: lightblue;
}
.tab_title ul{
    display: flex;
}
#tab_1{
    margin-left: 10px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: white;
}
#tab_2{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.tab_1{
    margin-left: 10px;
    width: 95%;
    height: 150px;
    background-color: white;
}
.tab_1 p{
    line-height: 30px;
    margin-left: 20px;
}
.tab_2{
    width: 95%;
    margin-left: 10px;
    height: 150px;
    background-color: white;
    display: none;
    position: relative;
}
.tab_2 ul{
    display: flex;
}
.tab_2 li{
    margin-top: 25px;
    margin-left: 20px;
}
.popup{
    width: 300px;
    height: 250px;
    background-color: white;
    border: 1px solid lightblue;
    position: fixed;
}
.popup h2{
    width: 100%;
    height: 50px;
    background-color: lightblue;
    color: white;
    line-height: 50px;
    text-align: center;
}
.popup_body p{
    margin-top: 10px;
    text-align: center;
    line-height: 25px;
}
.popup_button{
    margin-top: 30px;
    margin-left: 200px;
    border: 0;
}
.banner{
    width: 400px;
    height: 200px;
    background-color: lightblue;
}
.banner img{
    width: 390px;
    height: 190px;
    margin-left: 5px;
    margin-top: 5px;
}
.connect{
    width: 400px;
    height: 200px;
    background-color: lightblue;
}
.connect img{
    width: 390px;
    height: 190px;
    margin-left: 5px;
    margin-top: 5px;
}