*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
#slide_wrap{
    clear: both;
    width: 1200px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.slide_box{
    overflow: hidden;
}
.slide_box>ul>li>a>img{
    display: block;
    border: 0;
    width: 1200px;
    height: 300px;
    transition: 1s;
}