*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    width: 100%;
    height: 100px;
    background: plum;
}

nav {
    width: 1200px;
    height: 100px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 30px;
}
.menu{
    position: relative;
}
.main_nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.main_nav>li{
    margin-top: 60px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: slateblue;
    border: 1px solid slateblue;
    box-sizing: border-box;
    color: white;
    font-weight: 700;
    text-align: center;   
}
.menu_bg{
    display: none;
    position: fixed;
    width: 1200px;
    height: 163px;
    background-color: slateblue;
    top: 100px;
    left: 360px;
}
.sub_nav{
    display: none;
    margin-top: 1px;
}
.sub_nav>li{
    height: 40px;
    color: white;    
}
.main_nav>li:hover{
    border: 1px solid slateblue;
    border-bottom: none;
    box-sizing: border-box;
    background-color: white;
    color: slateblue;
    line-height: 40px;
    cursor: pointer;
}
.sub_nav>li:hover{
    background-color: white;
    color: slateblue;
}
/* header end */
section{
    width: 1200px;
    margin: 0 auto;
}
.section01{
    width: 1200px;
    height: 300px;
    overflow: hidden;
}
.slide{
    width: 1200px;
    height: 300px;
    display: block;
}
.slide img{
    display: block;
}
.section02{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    background: rgb(190, 161, 171);
}
.board{
    width: 400px;
    height: 200px;
}
.board h3{
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    background: white;
    color: slateblue;
    text-align: center;
}
.board_box{
    display: flex;
    width: 390px;
    height: 155px;
    background-color: white;
    line-height: 30px;
    margin-left: 5px;
}
.board_box ul{
    margin-left: 20px;
}
.text_box{
    width: 290px;
}
.date_box{
    width: 100px;
    text-align: center;
}
.popup_wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.719);
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.popup{
    margin-top: 350px;
    margin-left: 750px;
    width: 350px;
    height: 300px;
    background-color: white;
}
.popup h3{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: slateblue;
    color: white;
}
.pop_text{
    text-align: center;
    line-height: 40px;
}
.pop_button{
    width: 60px;
    height: 30px;
    color: white;
    border: none;
    background: slateblue;
    margin-top: 20px;
    margin-left: 270px;
}
.gallery {
    width: 400px;
    height: 200px;
}
.gallery h3{
    width: 100px;
    height: 40px;
    background: slateblue;
    line-height: 40px;
    color: white;
    text-align: center;
    margin-left: 10px;
}
.gallery ul{
    display: flex;
    width: 390px;
    height: 155px;
    background: white;
}
.gallery li{
    margin: 0 auto;
    margin-top: 30px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.gallery img:hover{
    transform: scale(1.3);
    opacity: .7;
}
.connect {
    width: 400px;
    height: 200px;
}
.connect img{
    margin-top: 5px;
    margin-left: 5px;
    width: 390px;
    height: 190px;
}
footer{
    width: 100%;
    height: 100px;
    background: rgb(190, 161, 171);
}
.footer_wrap{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #232323;
}
.copyright{
    width: 1000px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: white;
}
.footer_connect{
    width: 200px;
    height: 100px;
    border-left: 1px dashed white;
}
.sns{
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border-bottom: 1px dashed white;
}
.sns>a:first-child{
    margin-left: 35px;
}
.sns img{
    margin-top: 5px;
    width: 40px;
    height: 40px;
}
.familysite{
    width: 200px;
    height: 50px;
    margin: 0 auto;
}
.familysite select{
    margin-top: 15px;
    margin-left: 55px;
}