@font-face { font-family: 'Cafe24Oneprettynight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff'); font-weight: normal; font-style: normal; }
/* scrollbar custom */

/* width */
::-webkit-scrollbar {
    width: .5rem;
  }
::-ms-scrollbar {
    width: .5rem;
  }
::-moz-scrollbar {
    width: .5rem;
  }
 ::-o-scrollbar {
    width: .5rem;
  } 
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #44472a67;
  }
  ::-ms-scrollbar-track {
    background: #44472a67;
  }
  ::-moz-scrollbar-track {
    background: #44472a67;
  }
  ::-o-scrollbar-track {
    background: #44472a67;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fbf3ef; 
  }
  ::-ms-scrollbar-thumb {
    background: #fbf3ef; 
  }
  ::-moz-scrollbar-thumb {
    background: #fbf3ef; 
  }
  ::-o-scrollbar-thumb {
    background: #fbf3ef; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff; 
  }
  ::-ms-scrollbar-thumb:hover {
    background: #fff; 
  }
  ::-moz-scrollbar-thumb:hover {
    background: #fff; 
  }
  ::-o-scrollbar-thumb:hover {
    background: #fff; 
  }


html{
    scroll-behavior: smooth;
    background: #fbf3ef;
}
.title{
	margin: 10% 0;
	font-family:'Cafe24Oneprettynight';
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
}
.line{
	width: 60%;
	margin: 0 auto;
    border-bottom: 1px solid #c7c7c7;
}
/* Section01 Start */
#section01{
    width: 100%;
    background: #fbf3ef;
}
.modal{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255,255,255,0.9);
    display: none;
    align-items: center;
}
.popup{
    margin: 0 auto;
    width: 30%;
    height: 50%;
    background: #fbf3ef;
    border: 3px solid #44472a;
}
.navi{
    width: 100%;
    display: block;
    background: rgba(255,255,255,0.95);
    position: absolute;
    z-index: 999;
}
.menu{
    width: 40px;
    height: 40px;
    padding-left:1%;
    padding-top: 8%;
    position: absolute;
    left: 85%;
    display: fixed;
    z-index: 9;
}
/* .menu-icon{
    padding-top: 40px;
    left: 90%;
    
} */

.logo{
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
}
.logo img{
    margin: 0 auto;
    width: 30%;
}
.menu_box{
    display: none;
}
.nav{
    text-align: center;
    padding-bottom: 300px;
}
.nav a{
    line-height: 110px;
    text-decoration: none;
    color:#44472a;
    font-family: 'Cafe24Oneprettynight';
    font-size: 1.5rem;
    font-weight: bold;
}
/* menu 선택시 밑줄 */
        .menu_box li a:hover{
            border-bottom:3px solid #44472a;
            padding-bottom:5px; 
            color:#44472a;
        }
            
        .menu_box li:nth-child(2) a:hover{
            border-bottom:3px solid #44472a; 
            padding-bottom:5px; 
            color:#44472a;
        }
            
        .menu_box li:nth-child(3) a:hover{
            border-bottom:3px solid #44472a; 
            padding-bottom:5px; 
            color:#44472a;
        }
            
        .menu_box li:nth-child(4) a:hover{
            border-bottom:3px solid #44472a; 
            padding-bottom:5px; 
            color:#44472a;
        }
            
        .menu_box li:nth-child(5) a:hover{
            border-bottom:3px solid #44472a; 
            padding-bottom:5px; 
            color:#44472a;
        }
#logo{
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    width: 8%;
}



.main{
    margin: 0 auto;
    color:#44472a;
    font-family: 'Cafe24Oneprettynight';
	/* text-align: center; */
	width: 100%;
}
.main-navi{
    padding-top: 30px;
    margin: 0 auto;
	width: 67%;
	display: flex;
}
.main-navi ul {
	width: 100%;
}
.main-navi li {
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	width: 19.5%;	

}
.main-navi a{
    text-decoration:none;  
    font-size:1.3rem;
    color:#44472a;

}
                    
    /**메뉴부분 마우스 오버시 색상 **/
    .main-navi li a:hover{
        border-bottom:3px solid #44472a;
        padding-bottom:5px; 
        color:#44472a;
    }
        
    .main-navi li:nth-child(2) a:hover{
        border-bottom:3px solid #44472a; 
        padding-bottom:5px; 
        color:#44472a;
    }
        
    .main-navi li:nth-child(3) a:hover{
        border-bottom:3px solid #44472a; 
        padding-bottom:5px; 
        color:#44472a;
    }
        
    .main-navi li:nth-child(4) a:hover{
        border-bottom:3px solid #44472a; 
        padding-bottom:5px; 
        color:#44472a;
    }
        
    .main-navi li:nth-child(5) a:hover{
        border-bottom:3px solid #44472a; 
        padding-bottom:5px; 
        color:#44472a;
    }
/* navi end */
/* main img */
.main{
    margin: 0 auto;
    color:#44472a;
    font-family: 'Cafe24Oneprettynight';
	width: 100%;
}

.main-img img{
	margin: 0 auto;
	padding-top: 20px;
    padding-left: 20px;
    width: 40%;
    display: flex;
}
.main-txt{
	text-align: center;
    padding-top: 1%;
    font-size: .75rem;
}
#main-txt-bold{
	margin: 0 auto;
	padding-bottom: 6.2%;
    font-weight: bold;
    font-size: 4rem;
}

/* Section01 End */
/* Section02 Start */
 #section02{
    width: 100%;
    background: #fbf3ef;
}
/* about1 */
.about{
	width: 60%;
	margin: 0 auto;
	font-family: 'Cafe24Oneprettynight';
	color:#44472a;
	}
.about1{
	margin: 0 auto;
	padding-top: 5%;
	width: 100%;
	height: 50%;
    display: flex;
}
.about1-img{
	width: 25%;
    margin: 0;
    padding: 0;
}
.about1-img img{
	width:100%;
}
.about1-txt{
    width: 75%;
    height: 100%;
    line-height: 4vh;
}
.about-txt-title{
    display: none;
    text-align: center;
    margin: 8% 0;
    font-size: 1.2rem;
    font-weight: 700;
}
.about1-txt>p{
    width: 80%;
    height: 90%;
    display: block;
    margin-left: 20%;
    margin-top: 3%;
}
.morebutton{
    text-align: center;
    cursor: pointer;
    display: none;
}
.morebutton:hover{
    font-weight: 600;
    color: #44472a;
}
.upbutton{
    text-align: center;
    cursor: pointer;
    display: none;
}
.upbutton:hover{
    font-weight: 600;
    color: #44472a;
}
.txtline{
	width: 100%;
    padding-right: 6.1%;
    margin-top: 3%;
}
/* about2 */
.about2{
	margin: 0 auto;
	padding-top: 5%;
	width: 100%;
	height: 50%;
    display: flex;
    margin-bottom: 11%;
}
.about2-img{
	width: 25%;
    margin: 0;
    padding: 0;
}
.about2-img img{
	width:100%;
}
.about2-txt{
    width: 75%;
    height: 100%;
    text-align: justify;
    line-height: 4vh;
}
.about2-txt>p{
    width: 80%;
    height: 90%;
    display: block;
    margin-right: 20%;
    margin-top: 3%;
}
.txtline2{
	width: 100%;
	margin: 0 auto;
	padding-right: 6.1%;
    padding-top: 5%;
}
/* section02 End */
/* section03 Start */
#section03{
    width: 100%;
	background: #fbf3ef;
    color:#44472a;	
}

.container-fluid {
	position: relative;
    width: 25%;
   }
   
   .service_image {
	display: block;
    width: 100%;
    height: 100%;
   }
   
   .service_overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	opacity: 0.88;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
   }
   
   .container-fluid:hover .service_overlay {
	height: 30%;
   }
   
   .service_text {
    margin: 0 auto;
    margin-top: 6%;
	color: #44472a;
    font-size: 1.5rem;
    font-family: 'Cafe24Oneprettynight';
	/* position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%); */
	text-align: center;
   }
   .service_text_style{
       margin: 0 auto;
       margin-top: 6%;
       padding: 6%;
       width: 72%;
       font-size: 1rem;
       line-height: 2rem;
       border-top: 4px solid #44472ab0;

   }
   .service_wrap{
      width: 60%;
      height: 65%;
	  margin: 0 auto;
	  display: flex;
      margin-top: 5%;
      margin-bottom: 6.3%;
   }
 
/* Section03 End */
/* Section04 Start */
#section04{
	width: 100%;
	background: #fbf3ef;
    color:#44472a;	
    box-sizing: border-box;
}

.popup-wrap{
    width: 60%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 6rem;
    background: beige;
    position: relative;
    overflow: hidden;
}
.popup-gallery{
    width: 100%;
    height: 100%;
    float: left;
}
.popup-gallery>a>div{
    border: 3px solid #fff;
    box-sizing: border-box;
}
.overay{
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .5;
    display: none;
}
.popup-gallery div:hover .overay{
    display: block;
}
.img1{
    float: left;
    width: 30%;
    height: 59.99%;
    background: url(../images/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img2{
    float: right;
    width: 70%;
    height: 30%;
    background: url(../images/2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.img3{
    float: left;
    width: 35%;
    height: 30%;
    background: url(../images/3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img4{  
    float: left;
    width: 35%;
    height: 30%;
    background: url(../images/4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img5{
    float: left;
    width: 33%;
    height: 40%;
    background: url(../images/5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img6{
    float: left;
    width: 34%;
    height: 40%;
    background: url(../images/6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img7{
    float: left;
    width: 33%;
    height: 40%;
    background: url(../images/10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* Section04 End */
/* Section05 Start */
#section05{
    width: 100%;
    background: #fbf3ef;
    color:#44472a;	
}
/* 오시는 길 */
.gillwrap{
    width: 100%;
    height: 100%;
}
.gill{
    margin: 0 auto;
    top: 70%;
    height: 16rem;
    font-family: 'Cafe24Oneprettynight';
    background-color: #44472a;
    opacity: .7;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    position: relative;
    z-index: 99;
}
.gill strong{
    font-size: 1.5rem;
    line-height: 3rem;
}
/* map */
#map{
    width: 60%;
    height: 40rem;
    margin: 0 auto;
    margin-top: 4%;
    display: block;
    border: .25rem solid #44472abe;
    box-sizing: border-box;
    margin-bottom: 100px;
}
/* kakaomap API */
.customoverlay {
    position:relative;
    bottom:85px;
    border-radius:6px;
    border: 1px solid #ccc;
    border-bottom:2px solid #ddd;
    float:left;
}
.customoverlay:nth-of-type(n) {
    border:0; 
    box-shadow:0px 1px 2px #888;
}
.customoverlay a {
    display:block;
    text-decoration:none;
    color:#000;
    text-align:center;
    border-radius:.3rem;
    font-size:1rem;
    font-weight:bold;
    overflow:hidden;
    background: #44472a url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {
    margin: 0;
    display:block;
    text-align:center;
    background:#fff;
    margin-right:35px;
    padding:10px 15px;
    font-size:14px;
    font-weight:bold;}
.customoverlay:after {
    content:'';
    position:absolute;
    margin-left:-12px;
    left:55%;
    bottom:-12px;
    width:22px;
    height:12px;
    background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
/* ↑↑↑↑↑↑↑↑↑지도 */
/* ↓↓↓↓↓↓↓↓↓탑버튼 */
.scroll img{
    margin-bottom: 1rem;
    left: 81%;
    cursor: pointer;
    }
    /********* media ********/

@media (min-width: 576px){
    .main_page {
    max-width: 540px;
    margin:0 auto;
    }
}
@media (min-width: 768px){
.main_page {
    max-width: 720px;
    margin: 0 auto;
    }
    .navi{
        background: none !important;
    }

    .nav{
        display: none !important;
    }
    .menu{
        display: none !important;
    }
}
@media (min-width: 992px){
.main_page {
    max-width: 960px;
    margin: 0 auto;
	}
}

@media (min-width: 1200px){
.main_page {
    max-width: 1140px;
    margin: 0 auto;
	}
}

@media (max-width: 375px){
    .service_overlay {
            background-color: white;
            opacity: 0.88;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
           }
    .popup-gallery>a>div{
            border: 1px solid #fff !important;
            box-sizing: border-box;
        }       
    .img1{
        height: 59.99% !important;
    }
    .container-fluid:hover .service_overlay {
        height: 50%;
       }
       .gill{
        top: 60%;
        height: 25rem;
    }
    #map img{
        width: 45px !important;
        height: 60px !important;
    }
}
@media (max-width:767px){
    /* Section01 */
    .menu{
        display: block;
    }
    #logo{
     width: 27%;   
    }
    .main-navi{
        display: none;
    }
    .main-img{
        margin: 10% 0 5%;
    }
    .main-img img{
        margin: 0 auto;
        width: 80%;
    }
    .main-txt{
        font-size: .4rem;
        line-height: 2rem;
    }
    #main-txt-bold{
        font-size: 2.2rem;
        margin-bottom: 20%;
    }
    /* Section02 */
	.about1{
		margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
		justify-content: center;
	}
	.about1-img{
		width: 50%;
	}
	.about1-txt{
        margin: 0 auto;
        padding: 0;
        width: 100%;
        font-size: 1rem;
        line-height: 1.4rem;
    }
    .about1-txt>p{
        width: 100%;
        height: 0;
        background-color: #fbf3ef;
        overflow: hidden;
        display: block;
        margin: 8% 0;
    }
    .about-txt-title{
        display: block;
    }
    .morebutton{
        margin: 10% 0;
        display: block;
    }
	.about2{
		margin: 0 auto;
		padding-top: 20%;
		display: flex;
		align-items: center;
        flex-direction: column-reverse;
        margin-bottom: 20%;
	}
	.about2-img{
		width: 50%;
    }
	.about2-txt{
        margin: 0 auto;
        padding: 0;
        width: 100%;
        font-size: 1rem;
        line-height: 1.4rem;
    }
    .about2-txt>p{
        width: 100%;
        height: 0;
        background-color: #fbf3ef;
        overflow: hidden;
        display: block;
        margin: 8% 0;
    }
    /* section03 */
    .service_wrap{
        width: 65%;
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        margin-top: 5%;
        margin-bottom: 6.3%;
     }
     .container-fluid {
        width: 50%;
        height: 35vh;
        display: block;
        cursor: pointer;
       }
    .service_text {
        margin: 0 auto;
        margin-top: 6%;
        color: #44472a;
        font-size: 1rem;
        font-family: 'Cafe24Oneprettynight';
        text-align: center;
       }
       .service_text_style{
           margin: 0 auto;
           margin-top: 3%;
           padding: 6% 0;
           width: 72%;
           font-size: .5rem;
           line-height: 1.1rem;
           border-top: 1px solid #44472ab0;
    
       }
    /* section04 */
   .popup-wrap{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    transition: all .5s ease;
    width: 65%;
    height: 50vh;    
}
.img1{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    width: 30%;
    height: 60%;
}
.img2{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    width: 70%;
    height: 30%;
}
.img3{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    width: 35%;
    height: 30%;
}
.img4{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    width: 35%;
    height: 30%;
}
.img5{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    width: 33%;
    height: 40%;
}
.img6{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    width: 34%;
    height: 40%;
}
.img7{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    width: 33%;
    height: 40%;
}
.clear{
    clear: both;
}
    /* section05 */
    #map{
        width: 65%;
        height: 40vh;
    }
    .gill{
        font-size: .5rem;
        line-height: .8rem;
    }
    .gill strong{
        font-size: .8rem;
        line-height: 2rem;
      
    }
    /* 탑버튼 */
    .scroll{
        display: none;
    }
    /* scroll */
    ::-webkit-scrollbar {
        display: none;
      }
    ::-ms-scrollbar {
        display: none;
      }
    ::-moz-scrollbar {
        display: none;
      }
     ::-o-scrollbar {
        display: none;
      } 
}
#scroll_btn{position:fixed;_position:absolute;width:3.2%;bottom: 0;z-index:50;}
.fix{position:fixed;_position:absolute;width:100%;top:0;z-index:100;}
/* 메뉴 따라다니게하기↑ */

