@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); .nanumgothic * { font-family: 'Nanum Gothic', sans-serif; }
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background: #f4ebdc;
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Nanum Gothic', sans-serif;
}
section{
    width: 50%;
    margin: 0 auto;
}
footer{
    width: 100%;
    background: #44362d;
}
@media (max-width:767px){
    section{
        width: 65%;
    }
}
/* element */
.section01{
    width: 100%;
    padding: 15% 0;
    display: flex;
    flex-wrap: wrap;
    color: #44362d;
    text-align:center;
}
/* section01 page */
.section01>img:nth-child(1){
    margin: 0 auto;
    width: 100%;
}
/* camellia line img */
.section01>img:nth-child(2){
    width: 68%;
    margin: 0 auto;
    margin-top: 15%;
}
/* title img */
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 8%;

}
.logo>img{
    width: 16%;
    margin-right: 3%;
}
.logo>p{
    font-weight: bold;
    font-size: 1.68vw;
    letter-spacing: .5vw;
    margin-left: 4%;
    margin-top: .8%;
}
/* logo */
.section01>p{
    width: 100%;
    margin-top: 3.1%;
    font-size: 2.5vw;
    font-weight: 900;   
}
/* secton01 text */
@media screen and (max-width: 767px) {
    .section01{
        padding-bottom: 12.5%;
    }
    .section01>img:nth-child(2){
        width: 95%;
    }
    .logo>img {
        width: 23%;
    }
    .logo>p{
        font-size: 2.7vw;
    }
    .section01>p{
        font-size: 4.56vw;
        margin-top: 4.5%;
    }

}
/* section01 media */
/* section01 end*/

.section02{
    width: 100%;
    padding-bottom: 15.7%;
}
/* section02 page */
.main-img{
    width: 100%;
    padding-bottom: 10.5%;
}
.main-img img{
    width: 100%;
}
/* main-img */
.section02 img {
    width: 100%;
}
/* second camellia line img */
/* section02 end */
.section03{
    width: 100%;
    padding-top: 5.2%;
    padding-bottom: 1.55%;
    color: #44362d;
}
/* section03 page */
.section03 h1{
    text-align: center;
    font-size: 3.75vw;
    font-weight: 900;
    letter-spacing: 1vw;
}
/* event title (QUIZ EVENT) */
.q-text{
    width: 100%;
    padding-top: 3vw;
    font-size: 1.6875vw;
    text-align: center;
    letter-spacing: .14vw;
    background: url(../image/bg-flower.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.q-text-box{
    margin: 0 auto;
    margin-top: 1.302085vw;
    margin-bottom: 2.604169vw; 
    width: 62%;
    padding: 1.068vw 0;
    background : #44362d;
    font-size: 1.3125vw;
    color: #fff;
}
/* section03 text box */
@media screen and (max-width: 767px){
    .section03{
        padding-top: 3%;
        padding-bottom: 1.55%;
        text-align: center;
    }
    .section03 h1{
        width: 100%;
        margin: 0 auto;
        font-size: 7.6vw;
        letter-spacing:1.7vw
    }
    .q-text{
        font-size: 2.8vw;
        letter-spacing: .5vw;
        line-height: 5vw;
    }
    .q-text-box{
        width: 90%;
        margin-top: 2vw;
        padding: 1.2vw 0;
        font-size: 2.8vw !important;
        letter-spacing: -.1px;
    }
}
/* section03 media*/
/* section03 end */
.section04{
    width: 100%;
    padding: 5.2% 0;
    color: #44362d;
}
/* section04 page */
.q-box{
    width: 100%;
    padding: 3vw 0;
    box-sizing: border-box;
    border: 1px solid #44362d;
    font-size: 1.6875vw;
    text-align: center;
    line-height: 3vw;
}
.q-box li{
    list-style: none;
}
.q-box li:first-child{
    letter-spacing: .45vw;
}
#box{
    width: 5.5vw;
    height: 2.188vw;
    margin-right: 1vw;
    display: inline-block;
    border: 1px solid #44362d;
    box-sizing: border-box;
}
.q-box input{
    width: 5.5vw;
    height: 2.188vw;
    margin-right: 1vw;
    display: inline-block;
    border: 1px solid #44362d;
    background: transparent;
    box-sizing: border-box;
    font-size: 1.3vw;
}
/* question-box */
.tip{
    display: flex;
    width: 100%;
    font-size: 1.354169vw;
    padding-top: 1.302085vw;
    justify-content: space-around;
}
.tip img{
    width: 4.375vw;
    height: 2.2vw;
}
.tip>p{
    margin-top: .28vw;
    text-align: center;
    font-weight: bold;
    letter-spacing: .06vw;
}
/* tip  */
#btn{
    display: flex;
    justify-content:center;
}
.btn{
    margin-top: 1.66669vw;
    width: 13vw;
    background:#44362d;
    color: #ffffff;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    font-size: 1.5625vw;
    line-height: 3vw;
    text-align:center;
    cursor: pointer;
    border: none;
}
.btn:hover{
    background-color: #635146;
}
/* apply btn */
.eventinfo{
    height: 15vw;
    margin-top: 2.1875vw;
    padding: 2.5vw 8.33335vw;
    display:flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    letter-spacing: .07106vw;
    border-radius: .5vw;
    list-style-position: inside;
    font-size: 1.458335vw;
}
.eventinfo>ul>li:first-child{
    margin-bottom: 2vw;
}
.eventinfo>ul>li:nth-child(2){
    margin-bottom: 2vw;
}
.eventinfo span{
    font-weight: 900;
}
/* event period information */
@media screen and (max-width:767px){
    .q-box{
        padding: 2.5vw 0;
        font-size: 2.9vw;
        text-align: center;
        line-height: 3.9vw;
        letter-spacing: .6vw;
    }
    .q-box li:first-child{
        letter-spacing: 1vw;
    }
    #box{
        width: 8.7vw;
        height: 3.2vw;
    }
    .q-box input{
        width: 8.7vw;
        height: 3.2vw;
    }
    .tip{
        margin-bottom: 2vw;
    }
    .tip>p{
        letter-spacing: -.3px;
    }
    .btn{
        margin: 2vw 0;
        width: 20vw;
        font-size: 3vw;
        line-height: 4.8vw;
    }
    .eventinfo{
        padding: 2.5vw 0;
        font-size: 12px;
        letter-spacing: unset;
        display: flex;
        justify-content: center;
    }
}
/* section04 media */
/* section04 end */
.section05{
    width: 50%;
    margin: 0 auto;
    padding: 2% 0 5% 0;
    color: #fff;
}
/* section05 page */
.section05 h3{
    font-size:1.6875vw;
    letter-spacing: .09vw;
    padding: 5.20835vw 0 ;
}
/* event caution title */
.section05 ul{
    width: 100%;
    text-align:justify;
}
.section05 li{
    list-style-position: inside;
    font-size: 1.40625vw;
    font-weight: lighter;
    margin-bottom: 2.60419vw;
    line-height:2.5vw;
}
.section05 li:nth-child(1){
    letter-spacing: .0979vw;
}
.section05 li:nth-child(2){
    letter-spacing: .078vw;
}
.section05 li:nth-child(3){
    letter-spacing: .01vw;
}
.section05 li:nth-child(3)>span{
    letter-spacing: .049vw;
}
.section05 li:nth-child(4){
    letter-spacing: .119vw;
}
.section05 li:nth-child(4)>span{
    letter-spacing: .1365vw;
}
.section05 li:nth-child(5){
    letter-spacing: .04vw;
}
.section05 li:nth-child(5)>span{
    letter-spacing: .11vw;
}
.section05 li:nth-child(6){
    display: none;
}
.section05 li:nth-child(7){
    display: none;
}
/* event caution text */
@media screen and (max-width:767px){
    .section05{
        width: 65%;
    }
    .section05 h3{
        font-size:3.2vw;
        letter-spacing: .1vw;
    }
    .section05 li{
        font-size: 2.4vw;
        line-height: 3.2vw;
        letter-spacing: unset !important;
    }
}
/* section05 end  */