*{
    margin: 0;
    padding: 0;
}
.row{
    padding: unset !important;
    margin: unset !important;
}
section{
    width: 100%;
    height: 100;
}
#header{
    position:fixed;
    height: 20vh;
    display:block;
    width: 100%;
    background: transparent;
    z-index:9;
    text-align:center;
    top: 0;
    padding: 0 2%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo>img{
    height: 50%;
    margin-left: 5vw;
}
.logo>h2{
    margin-left: 3vw;
    font-size: 1.5rem;
    font-weight: bold;
}
div{
    width: 100%;
    height: 100%;
}
h1{
    font-size: 5vw;
    font-weight: bold;
    text-transform: uppercase;
    color: #3a3a40;
    /* color: #fff; */
}
.section-wrap{
    background: #1c1c1e;
}
.left-side{
    padding: 15% 0 0 10%;
}
.right-side{
    background: transparent;
}